*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 300px;
  width: 300px;
  margin: 50px auto;
  background: #640000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.output p, .weight p,  .price p{
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: serif;
}
.weight input,  .price input{
  width: 95%;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
  outline: none;
  border: none;
  caret-color: red;
  border-radius: 15px;
  border: 1px solid;
}
.weight, .price{
  height: 100%;
  width: 45%;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.output{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.output input{
  width: 95%;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  outline: none;
  border: 1px solid;
  caret-color: red;
  border-radius: 15px;
}
#clear{
  padding: 8px 25px;
  margin: 20px 0px;
  border: 1px solid;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  background: #707070;
  box-shadow: 1px 1px 5px #FFFFFF;
  color: white;
}
#clear:active{
  background: #A7A7A7;
  color: #4A4A4A;
  box-shadow: 1px 1px 5px #999999;
}